@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: black;
  color: white;
  overflow-x: hidden;
}

.service-layout:hover {
  background-image: linear-gradient(300deg, red, black);
  transform: scale(1.05);
  transition: 0.4s;
  border: 2px solid red;
}

.btn-layout:hover {
  background: white;
  color: red;
  font-weight: 500;
}

.work-layout:hover {
  transform: scale(1.05);
  transition: 0.4s;
  border: 2px solid red;
  cursor: pointer;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 50px;
    justify-content: flex-start;
  }

  .navContact {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }

  .nav-mob-close {
    display: block;
    position: absolute;
    top: 20px;
    left: 290px;
    width: 30px;
    background-color: black;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    gap: 30px;
    background-color: #af3131;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }

  .nav-menu li {
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
}

@media (max-width: 975px) {
  .contact-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-margin {
    margin-left: 30px;
  }
}

@media (max-width: 900px) {
  .about-layout {
    display: flex;
    flex-direction: column;
  }
}

.skill-bar {
  outline: none;
  border: none;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(300deg, white, red);
}

@media (max-width: 465px) {
  .about-layout {
    flex-direction: column;
    align-items: center;
  }

  .about-layout img {
    width: 80vw;
    height: auto;
  }

  .skill-bar {
    width: 100%;
  }

  .text-left {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .service-box {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 830px) {
  .footer-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .form-layout {
    margin: 40px 0px;
  }
}

@media (max-width: 450px) {
  .nav-mob-open {
    right: 10px;
  }

  .nav-menu {
    width: 50%;
    right: -60%;
  }

  .nav-mob-close {
    left: 80%;
  }
  .nav-menu li {
    font-size: 30px;
    padding-left: 10px;
    flex-direction: row;
    gap: 20px;
  }
}
